:root {
    --primary:#00C1A2;
    --primary-50: #e7f7f3;
    --primary-100: #B8E6D9;
    --primary-200: #89D5C1;
    --primary-300: #57C2A9;
    --primary-400: #15AF93;
    --primary-500: #009A7E;
    --primary-600: #00856A;
    
}